.body {
  padding: 0;
  padding-top: 10%;
  margin: 0;
  background: url('./background.jpg');
  background-size: cover;
  font-family: 'Open Sans', sans-serif;
}

main {
  display: flex !important;
  justify-content: space-around;
  align-items: start;
  padding: 0 15% 0;
}

.forms {
  display: flex;
  flex-direction: column;
}

.progress {
  margin-bottom: 16px;
}

.downloadProgress,.downloadProgress-container {
  height: 5px;
  position: fixed;
  top: 0;
}

.uploadProgress, .downloadProgress  {
  background-color: black !important;
}

.input-group {
  width: 500px !important;
}

.upload-btn, .download-btn {
  width: 100px;
}

.custom-file-input:hover {
  cursor: pointer;
}

.upload-label {
  color: #6c757d !important;
}

.preview-image {
  width: 500px;
  height: auto;
  border-radius: 3px;
  margin-bottom: 16px;
}
.preview {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #6c757d;
}

.dir-list-wrapper {
  display: flex;
  flex-direction: column;
  width: 200px;
}

.dir-list {
  border: 1px #6c757d;
  color: #6c757d;
  word-break: break-word;
}

.dir-list-btn {
  margin-bottom: 16px;
}

.dir-list ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  padding: 10px;
  padding-left: 20px;
  border: 1px solid gray;
  border-radius: 3px;
  position: relative;
}

.exit-btn {
  position: absolute;
  top: 5px;
  right: 5px;
}

.exit-btn:hover {
  cursor: pointer;
}

.user-message {
  color: #6c757d;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  margin-bottom: 16px;
}
